@font-face {
	font-family: 'Frutiger Next Condensed';
	font-style: normal;
	font-weight: normal;
	src: local('Frutiger Next Condensed'),
		url('../fonts/Frutiger_Next_Condensed.woff') format('woff');
}
:root {
	--main-button-bg: #ffcc00;
	--hover-button-bg: #ffda44;
	--main-bg: #eef1f1;
	--main-font: 'Frutiger Next Condensed';
	--second-font: 'meta serif pro';
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
}
.App {
	height: 100vh;
	width: 100vw;
}
button {
	cursor: pointer;
}
.startComponent {
	height: 100vh;
	width: 100vw;
	background-color: var(--main-bg);
	background-image: url('../assets/background.png');
	background-position: bottom;
	background-size: 100vw;
	background-repeat: no-repeat;
}

.startLogo {
	width: 200px;
	margin-bottom: 5%;
}
.logoContainer {
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
	margin-top: 10px;
}

.tools {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100;
}

.startText {
	font-family: var(--main-font);
	position: absolute;
	top: 150px;
	left: 50%;
	z-index: 100;
	transform: translate(-50%, -50%);
	text-align: center;
	visibility: visible;
	transition: visibility 1s, opacity 0.5s linear;
	opacity: 1;
}
.startTextnotShowing {
	visibility: hidden;
	opacity: 0;
	transition: visibility 1s, opacity 0.5s linear;
}

#buttonNature {
	position: absolute;
	top: 55%;
	left: 23%;
}
#buttonBusiness {
	position: absolute;
	top: 55%;
	left: 47%;
}
#buttonPeople {
	position: absolute;
	top: 55%;
	left: 72%;
}
#buttonGoBack {
	position: absolute;
	top: 15px;
	left: 15px;
}

.button-not-showing {
	font-family: var(--main-font);
	font-weight: bold;
	font-size: 1.2rem;
	border: 0;
	background-color: var(--main-button-bg);
	padding: 0.8rem 1rem;
	border-radius: 10px;
	outline-style: none;
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 100;
	visibility: hidden;
	opacity: 0;
	transition: visibility 1s, box-shadow 0.3s, opacity 0.5s linear;
}
.button-showing {
	font-family: var(--main-font);
	font-weight: bold;
	font-size: 1.2rem;
	border: 0;
	background-color: var(--main-button-bg);
	box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
	padding: 0.8rem 1rem;
	border-radius: 10px;
	outline-style: none;
	z-index: 100;
	visibility: visible;
	transition: visibility 1s, box-shadow 0.3s, background-color 0.2s,
		opacity 0.3s linear;
	opacity: 1;
}

.button-showing:hover {
	background-color: var(--hover-button-bg);
}

/* Navmenu */

.navMenu {
	position: absolute;
	top: 15px;
	right: 25px;
	font-family: var(--main-font);
	font-weight: bold;
	font-size: 1.5rem;
	text-align: right;
	visibility: visible;
	opacity: 1;
	transition: visibility 1s, opacity 0.5s linear;
}

.navMenuNotShowing {
	font-family: var(--main-font);
	visibility: hidden;
	opacity: 0;
	transition: visibility 1s, opacity 0.5s linear;
}

.navMenu ul li {
	padding: 1rem 1.5rem;
	transition: transform 0.2s linear;
}
.navMenu ul li:hover {
	transform: translateX(7px);
}

.navMenu a {
	text-decoration: none;
	color: #000;
}

.arrow {
	position: relative;
	border-bottom: 2.2px solid black;
	padding-bottom: 4px;
	opacity: 1;
}

.arrow:after {
	position: absolute;
	margin-left: 2px;
	content: '>';
	bottom: -14px;
}

/* Popup divs */

.naturediv {
	position: absolute;
	top: 30%;
	width: 100%;
	height: 100%;
	visibility: visible;
	transition: visibility 1s, opacity 0.3s linear;
	opacity: 1;
}

.natureContainer,
.businesssContainer,
.peopleContainer {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: space-between;
	align-items: flex-start;
}

.naturedivNotShowing {
	visibility: hidden;
	opacity: 0;
	transition: visibility 1s, opacity 0.5s linear;
}

#natureBox1,
#natureBox2,
#natureBox3,
#natureBox4,
#natureBox5,
#businessBox1,
#businessBox2,
#businessBox3,
#businessBox4,
#peopleBox1,
#peopleBox2,
#peopleBox3,
#peopleBox4,
#peopleBox5,
#peopleBox6 {
	width: 45%;
	margin-bottom: 1rem;
}

#natureBox2 {
	margin-bottom: 1rem;
}

#natureBox4 {
	margin-bottom: 1rem;
}

.boxInfo {
	background-color: var(--main-button-bg);
	padding: 0.5rem 1rem;
	border-radius: 8px;
	box-shadow: 0 8px 6px -6px #d1d1d1;
}

.boxInfo h3 {
	font-family: var(--main-font);
	padding-bottom: 0.4rem;
}

.boxInfo p {
	font-family: var(--second-font);
	font-size: 0.8rem;
}

/***** WATCH PAGE *****/
.watchBackground {
	background-color: var(--main-bg);
}
.watchContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80vw;
	max-width: 1200px;
}
.videoPlayer {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding-top: 56.25%;
}
.react-player {
	position: absolute;
	top: 0;
	left: 0;
}

@media (min-width: 750px) {
	.naturediv {
		position: absolute;
		top: 20%;
		width: 100%;
		z-index: 100;
	}

	#natureBox1,
	#natureBox2,
	#natureBox3,
	#natureBox4,
	#natureBox5,
	#businessBox1,
	#businessBox2,
	#businessBox3,
	#businessBox4,
	#peopleBox1,
	#peopleBox2,
	#peopleBox3,
	#peopleBox4,
	#peopleBox5,
	#peopleBox6 {
		width: 28%;
		max-width: 25rem;
	}

	#natureBox1 {
		position: absolute;
		left: 3%;
	}

	#natureBox2 {
		position: absolute;
		left: 15%;
		margin-top: 22rem;
	}

	#natureBox3 {
		position: absolute;
		left: 40%;
		margin-top: 6rem;
	}

	#natureBox4 {
		position: absolute;
		left: 52%;
		margin-top: 20rem;
	}

	#natureBox5 {
		position: absolute;
		left: 70%;
		margin-top: 1rem;
	}

	#businessBox1 {
		position: absolute;
		left: 15%;
	}

	#businessBox2 {
		position: absolute;
		left: 5%;
		margin-top: 15rem;
	}

	#businessBox3 {
		position: absolute;
		left: 45%;
		margin-top: 10rem;
	}

	#businessBox4 {
		position: absolute;
		left: 72%;
		margin-top: 1rem;
	}
	#peopleBox1 {
		position: absolute;
		left: 2%;
		margin-top: 1rem;
	}

	#peopleBox2 {
		position: absolute;
		left: 10%;
		margin-top: 14rem;
	}

	#peopleBox3 {
		position: absolute;
		left: 40%;
		margin-top: 4rem;
	}

	#peopleBox4 {
		position: absolute;
		left: 70%;
		margin-top: 15rem;
	}

	#peopleBox5 {
		position: absolute;
		left: 70%;
	}

	#peopleBox6 {
		position: absolute;
		left: 35%;
		margin-top: 25rem;
	}
}

@media (max-width: 480px) {
	#natureBox1,
	#natureBox2,
	#natureBox3,
	#natureBox4,
	#businessBox1,
	#businessBox2,
	#businessBox3,
	#businessBox4,
	#peopleBox1,
	#peopleBox2,
	#peopleBox3,
	#peopleBox4,
	#peopleBox5,
	#peopleBox6 {
		width: 90%;
		margin-bottom: 1rem;
	}
}

/* How we work section */

.howWeWorkContainer {
	height: 100vh;
	width: 100vw;
	background-color: var(--main-bg);
}

.howWeWorkContent {
	margin-top: 15rem;
	height: 100vh;
	width: 90vw;
	margin: 15rem auto;
}

.howWeWorkContent h2 {
	text-align: center;
	font-family: var(--main-font);
	margin-bottom: 2rem;
}

.articleContainer {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: space-between;
	align-items: flex-start;
}

.article {
	width: 45%;
	padding: 2rem;
	background-color: var(--main-button-bg);
	border-radius: 10px;
}

.article h4 {
	font-family: var(--main-font);
	font-size: 1.6rem;
	margin-bottom: 0.5rem;
}
.article p {
	font-family: var(--second-font);
	margin-bottom: 1rem;
}

.articleImg {
	width: 100%;
	padding: 1rem;
	background-color: white;
	border-radius: 10px;
}
