@font-face {
	font-family: 'Frutiger Next Condensed';
	font-style: normal;
	font-weight: normal;
	src: local('Frutiger Next Condensed'),
		url('../fonts/Frutiger_Next_Condensed.woff') format('woff');
}
:root {
	--main-button-bg: #ffcc00;
	--main-bg: #eef1f1;
	--main-font: 'Frutiger Next Condensed';
	--second-font: 'meta serif pro';
}

* {
	margin: 0;
	padding: 0;
	overflow: hidden;
	box-sizing: border-box;
}
.App {
	height: 100vh;
	width: 100vw;
}
.startComponent {
	height: 100vh;
	width: 100vw;
	background-color: var(--main-bg);
	background-image: url('../assets/background.png');
	background-position: bottom;
	background-size: 100vw;
	background-repeat: no-repeat;
}

.startLogo {
	width: 200px;
	margin-bottom: 5%;
	
}
.logoContainer {
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
	margin-top: 10px;
}

.tools {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100;
}

.startText {
	font-family: var(--main-font);
	position: absolute;
	top: 150px;
	left: 50%;
	z-index: 100;
	transform: translate(-50%, -50%);
	text-align: center;
}

#buttonNature {
	position: absolute;
	top: 60%;
	left: 25%;
}
#buttonBusiness {
	position: absolute;
	top: 60%;
	left: 50%;
}
#buttonPeople {
	position: absolute;
	top: 60%;
	left: 75%;
}
#buttonGoBack {
	position: absolute;
	top: 15px;
	left: 15px;
}

.button-not-showing {
	font-family: var(--main-font);
	font-weight: bold;
	font-size: 1rem;
	border: 0;
	background-color: var(--main-button-bg);
	padding: 0.7rem;
	border-radius: 10px;
	outline-style: none;
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 100;
	visibility: hidden;
	opacity: 0;
	transition: visibility 1s, opacity 0.5s linear;
}
.button-showing {
	font-family: var(--main-font);
	font-weight: bold;
	font-size: 1rem;
	border: 0;
	background-color: var(--main-button-bg);
	padding: 0.7rem;
	border-radius: 10px;
	outline-style: none;
	z-index: 100;
	visibility: visible;
	transition: visibility 1s, opacity 0.3s linear;
	opacity: 1;
}

.navMenu {
	position: absolute;
	top: 15px;
	right: 25px;
	font-family: var(--main-font);
	font-weight: bold;
	font-size: 1.5rem;
	text-align: right;
}

.navMenu a {
	text-decoration: none;
	color: #000;
}

/* Nature popup divs */

.naturediv {
	visibility: visible;
	transition: visibility 1s, opacity 0.3s linear;
	opacity: 1;
	position: absolute;
	top: 30%;
	width: 100%;
	height: 50%;
}
.naturedivNotShowing {
	visibility: hidden;
	opacity: 0;
	transition: visibility 1s, opacity 0.5s linear;
}

#natureBox1 {
	position: absolute;
	left: 5%;
	width: 25%;
}

#natureBox2 {
	position: absolute;
	left: 30%;
	/* top: 35%; */
	width: 25%;
	margin-top: 14%;
}

#natureBox3 {
	position: absolute;
	left: 50%;
	width: 25%;
}

#natureBox4 {
	position: absolute;
	width: 25%;
	left: 70%;
	/* top: 25%; */
	margin-top: 10%;
}

.natureBoxInfo {
	background-color: var(--main-button-bg);
	padding: 0.5rem 1rem;
	border-radius: 8px;
	box-shadow: 0 8px 6px -6px #a6a6a6;
}

.natureBoxInfo h3 {
	font-family: var(--main-font);
	padding-bottom: 0.4rem;
}

.natureBoxInfo p {
	font-family: var(--second-font);
	font-size: 0.8rem;
}

@media (max-width: 750px) {
	.naturediv {
	}

	#natureBox1 {
		width: 40%;
	}

	#natureBox2 {
		width: 40%;
		left: 5%;
		top: 25%;
	}

	#natureBox3 {
		width: 40%;
	}

	#natureBox4 {
		width: 40%;
		left: 50%;
		top: 18%;
		margin-top: 10%;
	}
}

@media (max-width: 480px) {
	.naturediv {
		display: inline-block;
		position: relative;
	}
	#natureBox1 {
		position: relative;
		width: 40%;
	}

	#natureBox2 {
		position: relative;
		width: 40%;
	}

	#natureBox3 {
		position: relative;
		width: 40%;
	}

	#natureBox4 {
		position: relative;
		width: 100%;
	}
}
